<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="EmployeeDetailId" [value]="service.formData.employeeId" />
    <div class="form-group">
        <label>Employee Name</label>
        <input class="form-control form-control-lg" placeholder="Full Name" name="EmployeeName"
            #EmployeeName="ngModel" [(ngModel)]="service.formData.employeeName"
            required [class.invalid]="EmployeeName.invalid && EmployeeName.touched">
    </div>
    <div class="form-group">
        <label>Designation</label>
        <input class="form-control form-control-lg" name="Designation"
            #Designation="ngModel" [(ngModel)]="service.formData.designation"
            required [class.invalid]="Designation.invalid && Designation.touched">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control form-control-lg" name="Email"
            #Email="ngModel" [(ngModel)]="service.formData.email" email="true"
            required [class.invalid]="Email.invalid && Email.touched">
    </div>
    <div class="form-group">
        <label>Address</label>
        <input class="form-control form-control-lg" name="Address"
            #Address="ngModel" [(ngModel)]="service.formData.address"
            required [class.invalid]="Address.invalid && Address.touched">
    </div>
    <div class="form-group">
        <label>City</label>
        <input class="form-control form-control-lg" name="City"
            #City="ngModel" [(ngModel)]="service.formData.city"
            required [class.invalid]="City.invalid && City.touched">
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>
</form>